xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/3.1.0"
        id          = "example.pcwendel.com"

    <name>Wendel's Example Phone App</name>

    <description>
        This is Wendel's Example App 
    </description>

    <author href="https://pcwendel.com" email="support@pcwendel.com">
        Wendel M. Hullihen
    </author>

</widget>
