body{
background-color:navy;
}
.wrapper{
position:absolute;
height:100%; 
width:99%;

}

.boxleft{
text-align:center;
width:47%;
display:block;
border-radius:50px;
float:left;
background-color:white;
}
.boxright{
text-align:center;
width:47%;
display:block;
border-radius:50px;
float:right;
background-color:white;
}
.boxclear
{
clear:both;
height:2%;
}

.buttonText{
font-family:arial;
font-size:2em;
color:navy;
font-weight:bold;
text-align:center;
}
